@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");

* {
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-transform: capitalize;
    outline: none; border:none;
    text-decoration: none;
    transition: all .2s linear;
}
:root {
  --orange: #ffa500;
}

body {
  height: 100vh;
  background-color: var(--orange);
  color: white;
}
.list-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  top: 200px;
  margin-bottom: 100px;
}
.card {
  background-color: #242628;
  width: 400px;
  height: 500px;
  border-radius: 10px;
  text-align: center;
  overflow: hidden;
  margin: 0 20px;
}
img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: center;
}
.card-img {
  width: 140px;
  height: 140px;
  border: 4px solid var(--orange);
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  transform: translateY(25px);
  transition: 0.5s;
}
.card h2{
    margin-top: 35px;
}

.card p{
    color: red;
}
.card-social{
    margin: 25px 0;
}
.card-social a{
    color: white;
    margin: 25px 20px;
    font-size:25px ;
}
.card-social a:hover{
    color: #ffa500;
}
.card button{
    width: 150px;
    height: 50px;
    border: 1px solid var(--orange);
    background: transparent;
    color: white;
    border-radius: 10px;
    transition: 0.5s;
}
.card button:hover{
    background-color: var(--orange);
}
.card-img:hover{
    width: 100%;
    height: 100%;
    transform: unset;
    border: none;
    border-radius: unset;

}


.modal{
  position: fixed;
  top: 0; right: 0;  left: 0; bottom: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;

}
.open{
  display: flex;
}
.contact{
  position: relative;
  background-color: #242628;
  margin: 20px;
  max-width: 1470px;
}

.modal-close{
  position: absolute;
  right: 0;
  top: 0;
  color: red;
  padding: 20px;
  cursor: pointer;
  opacity: 0.7;
  font-size: 20px;
}
.modal-close:hover{
  opacity: 1;
}

.contact-content{
  margin-top: 48px;
}


.contact .row{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
  align-items: center;
}

.contact .row .image{
  flex:1 1 35rem;
}

.contact .row .image img{
  width:100%;
}

.contact .row form{
  flex:1 1 50rem;
  padding:2rem;
  box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
  border-radius: .5rem;
}

.contact .row form .inputBox{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact .row form .inputBox input, .contact .row form textarea{
  width:49%;
  margin:1rem 0;
  padding:1rem;
  font-size: 1.7rem;
  color:#333;
  background:#f7f7f7;
  text-transform: none;
}

.contact .row form textarea{
  height: 15rem;
  resize: none;
  width:100%;
}
